DirectoryIndex app.php

Options FollowSymlinks

<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f

    #Limpio las URLS
    RewriteRule ^([a-zA-Z0-9]+)$ app.php?controller=$1 [L]
    RewriteRule ^([a-zA-Z0-9]+)/$ app.php?controller=$1 [L]

    RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ app.php?controller=$1&action=$2 [L]
    RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/$ app.php?controller=$1&action=$2 [L]

    RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9/]+)$ app.php?controller=$1&action=$2&params=$3 [L]
    RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9/]+)/$ app.php?controller=$1&action=$2&params=$3 [L]

    RewriteRule ^/app.php [L]
</IfModule>
